@using Microsoft.AspNetCore.Http;
@using HerbShop.Services;
@{
    Layout = HerbShop.Utils.Routing.Layout;
    var cookies = new Cookies(new HttpContextAccessor
    {
        HttpContext = Context
    });
}
    <div class="w3-container">
        <p>Liczba przedmiotów: @cookies.InCartQuantity</p>
        @{
            if (cookies.IsSet(CookiesName.Cart))
            {
                <table class="w3-table w3-striped">
                    <tr>
                        <th>Nazwa</th>
                        <th>Cena całkowita</th>
                        <th>Ilość</th>
                    </tr>
                    @{
                        foreach (var item in cookies.Cart.Items)
                        {
                            <tr>
                                <td>@item.Name</td>
                                <td>@item.TotalAmount</td>
                                <td>@item.QuantityInCart</td>
                            </tr>
                        }
                    }
                </table>
                <p>Cena całkowita - @cookies.Cart.Amount</p>
                <a href="@HerbShop.Utils.Routing.CartOrder">Zamawiam</a>
            }
        }

    </div>


